<template>
  <div id="app">
    <v-ons-navigator :page-stack="pageStack">
      <component
        :is="page"
        v-for="page in pageStack"
        :page-stack="pageStack"
        v-bind:key="page">
      </component>
    </v-ons-navigator>
  </div>
</template>

<script>

import Home from './pages/Home.vue'
import Login from './pages/Login.vue'
import CreateUser from './pages/CreateUser.vue'
import Settings from './pages/Settings.vue'

export default {
  name: 'app',
  data () {
    return {
      title: 'Numii',
      pages: [
        {id: 'home', name: 'Accueil'},
        {id: 'login', name: 'Login'},
        {id: 'create-user', name: 'Création utilisateur'},
        {id: 'settings', name: 'Paramètres'}
      ],
      pageStack: [ 'login' ]
    }
  },
  components: { Home, Login, CreateUser, Settings }
  // eslint-disable-next-line
};

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.page__content {
  margin-top: 10px;
}

.center
{
  text-align: center;
}

.v-ons-button
{
  margin: 6px 0;
  text-align: center;
}

.page--material__background
{
  background-color: #ffffff !important;
}

  @font-face {
    font-family: 'DroidSans';
    src:
      url('./fonts/DroidSans/DroidSans-Regular.ttf') format('truetype');
      /*url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');*/
      /* Add other formats as you see fit */
  }
  @font-face {
    font-family: 'DroidSans';
    src:
      url('./fonts/DroidSans/DroidSans-Bold.ttf') format('truetype');
      font-weight: bold;
      /*url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');*/
      /* Add other formats as you see fit */
  }
  @font-face {
    font-family: 'Amaranth';
    src:
      url('./fonts/Amaranth/Amaranth-Regular.ttf') format('truetype');
      /*url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');*/
      /* Add other formats as you see fit */
  }
  @font-face {
    font-family: 'Amaranth';
    src:
      url('./fonts/Amaranth/Amaranth-Bold.ttf') format('truetype');
      font-weight: bold;
      /*url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');*/
      /* Add other formats as you see fit */
  }

p, ons-button, .button, label, *
{
  font-family: Amaranth, DroidSans, FontAwsome ;
}
.toolbar, .toolbar--material__center
{
  font-family: Amaranth, DroidSans, FontAwsome !important;
}

</style>
