<template>
  <v-ons-page>
    <toolbar>WIP</toolbar>
    <v-ons-fab
      position="bottom right"
      @click="goTo('settings')"
    >
      <v-ons-icon icon="fa-cog"></v-ons-icon>
    </v-ons-fab>
    <v-ons-card>
      <v-ons-row v-for="(row, indexRow) in devicesBaseInfos" v-bind:key="indexRow">
        <v-ons-col>{{row.name}}</v-ons-col>
        <v-ons-col>
          Température (°C):
          <v-ons-row>
            <v-ons-col>Moy.: {{row.temperature.mean}}</v-ons-col>
            <v-ons-col>Min.: {{row.temperature.min}}</v-ons-col>
            <v-ons-col>Max.: {{row.temperature.max}}</v-ons-col>
          </v-ons-row>
        </v-ons-col>
         <v-ons-col>
          Vent (km/h):
          <v-ons-row>
            <v-ons-col>Moy.: {{row.wind.mean}}</v-ons-col>
            <v-ons-col>Min.: {{row.wind.min}}</v-ons-col>
            <v-ons-col>Max.: {{row.wind.max}}</v-ons-col>
          </v-ons-row>
        </v-ons-col>
         <v-ons-col>
          Humidité (%):
          <v-ons-row>
            <v-ons-col>Moy.: {{row.humidity.mean}}</v-ons-col>
            <v-ons-col>Min.: {{row.humidity.min}}</v-ons-col>
            <v-ons-col>Max.: {{row.humidity.max}}</v-ons-col>
          </v-ons-row>
        </v-ons-col>
      </v-ons-row>
    </v-ons-card>
    <h3> Vent </h3>
    <apexchart class="chartDisplay" type="line" :options="optionScans" :series="serieWind"></apexchart>
    <h3> Humidité </h3>
    <apexchart class="chartDisplay" type="line" :options="optionScans" :series="serieHumidity"></apexchart>
    <h3> Température </h3>
    <apexchart class="chartDisplay" type="line" :options="optionScans" :series="serieTemp"></apexchart>
    <!-- LOGO -->
  </v-ons-page>
</template>

<script>

import Toolbar from '../Toolbar.vue'
import server from './../api/server.vue'

export default {
  props: ['pageStack'],
  name: 'home',
  data: function () {
    return {
      devicesBaseInfos: [],
      optionScans: {
        legend: {
          show: true,
          showForSingleSeries: true
        },
        chart: {
          id: 'Scans',
          toolbar: {
            show: false
          }
        },
        xaxis: {
          type: 'datetime'
        }
      },
      serieHumidity: [],
      serieTemp: [],
      serieWind: []
    }
  },
  methods: {
    getAllDeviceInfos () {
      server.getAllInfos().then((result) => {
        this.serieHumidity = result.data.humidity
        this.serieTemp = result.data.temp
        this.serieWind = result.data.wind
      })
      server.getAllGeneralInfos().then((result) => {
        this.devicesBaseInfos = result.data
      })
      this.setProtectedTimeout(this.getAllDeviceInfos, 60000)
    }
  },
  mounted: function () {
    this.getAllDeviceInfos()
  },
  components: { Toolbar }
  // eslint-disable-next-line
};

</script>

<style type="text/css" scoped>
  .btn-img
  {
    width: 30px;
  }
  .center
  {
    text-align: center;
  }
  .right
  {
    text-align: center;
    width: 50%;
    margin-right: 10px;
    float: right;
  }
  #logo
  {
    height: 200px;
  }
  .aio-btn-cancel
  {
    background-color: #9D9D9D;
  }
  ons-row
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .headline
  {
    margin-bottom: 10%;
  }
  .button
  {
    width: 55%;
    font-size: 2em;
    height: 45px;
  }
  .button-page
  {
    background-image:linear-gradient(140deg, #00A7DA, #00B6AF);
    background-size: 100%;
  }
  .footer
  {
    margin-top: 30px;
  }
  .etatCo
  {
    text-align: center;
    color: #d9534f;
  }
  .body
  {
    width: 30%;
    margin-left: -40px;
  }
  #budy
  {
    height: 500px;
  }

  .sizeBtn{
    font-size: 17px;
    color: #00A7DA;
    border: 1px solid #00A7DA;
  }
</style>
