<template>
  <v-ons-page>
    <toolbar :back-label="'Retour'">WIP</toolbar>
    <v-ons-progress-circular v-show="!sensorsListDone" indeterminate></v-ons-progress-circular>
    <v-ons-card v-show="sensorsListDone">
      <v-ons-row v-for="(row, indexRow) in sensorsList" v-bind:key="indexRow">
        <v-ons-col>{{row.device}}</v-ons-col>
        <v-ons-col><v-ons-icon :icon="iconChoice(row.up).icon" :style="iconChoice(row.up).color"></v-ons-icon></v-ons-col>
        <v-ons-col>{{row.time}}</v-ons-col>
      </v-ons-row>
    </v-ons-card>
    <v-ons-row>
      <v-ons-col vertical-align="center" width="100%">
        <GmapMap
          :center="{lat: 44.587981, lng: -0.038672}"
          :zoom="7"
          map-type-id="terrain"
          style="width: 100%; height: 70vh"
        >
          <GmapMarker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          />
        </GmapMap>
      </v-ons-col>
    </v-ons-row>
  </v-ons-page>
</template>
<script>
import Toolbar from '../Toolbar.vue'
import server from './../api/server.vue'

export default {
  props: ['pageStack'],
  name: 'settings',
  data: function () {
    return {
      sensorsList: [],
      sensorsListDone: false,
      showMap: false,
      markers: []
    }
  },
  methods: {
    getSensorsUp () {
      this.sensorsListDone = false
      server.getSensorsUpApi().then((result) => {
        this.sensorsList = result.data
        this.sensorsListDone = true
      })
      this.setProtectedTimeout(this.getSensorsUp, 60000)
    },
    getAllDevicePosition () {
      server.getAllDevicePositionAPI().then((result) => {
        console.log(result)
        this.markers = result.data
        this.showMap = true
      })
      this.setProtectedTimeout(this.getAllDevicePosition, 60000)
    },
    iconChoice (value) {
      if (value === 'UP') {
        return {icon: 'fa-check', color: 'color: green'}
      } else {
        return {icon: 'fa-ban', color: 'color: red'}
      }
    }

  },
  mounted: function () {
    this.getSensorsUp()
    this.getAllDevicePosition()
  },
  components: { Toolbar }
  // eslint-disable-next-line
};
</script>
<style scoped>

</style>
